@using vote_with_your_wallet.Models
@model CausesViewModel
@{
    ViewBag.Title = "Causes";
}

<section class="bg-primary" id="causes">
    <div class="container">
        <div class="mx-auto text-center">
            <div id="accordion">
                @foreach (var CauseViewModel in Model.CauseViewModels)
                {
                    @Html.Partial("~/Views/Causes/Cause.cshtml", CauseViewModel)
                }
            </div>
            <div class="mt-5">
                <a class="btn btn-secondary btn-xl js-scroll-trigger" data-toggle="modal" data-target="#new-cause-modal">New cause</a>
            </div>
        </div>
    </div>
</section>

