
@{
    ViewBag.Title = "Causes";
}

<section class="bg-primary" id="causes">
    <div class="container">
        <div class="">
            <div class="mx-auto text-center">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="cause-one">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm align-self-center">
                                        <h5 class="mb-0">
                                            Rescue the animals!
                                        </h5>
                                    </div>
                                    <div class="col-sm">
                                        <h5 class="mb-0">
                                            <a class="btn btn-secondary" data-toggle="collapse" data-target="#collapse-one" aria-expanded="false" aria-controls="collapse-one">
                                                More information
                                            </a>
                                        </h5>
                                    </div>
                                    <div class="col-sm">
                                        <h5 class="mb-0">
                                            <a class="btn btn-secondary support-button" for="cause-one-supporter">
                                                Support cause
                                            </a>
                                        </h5>
                                    </div>
                                    <div class="col-sm align-self-center">
                                        <h5 class="mb-0">
                                            Number of supporters: <span id="cause-one-supporter-cnt">3</span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="collapse-one" class="collapse" aria-labelledby="cause-one" data-parent="#accordion">
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                        <div class="col-sm-4">
                                            <table id="cause-one-supporter-names" class="table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Recent supporters</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td scope="row">Sam Dixon</td>
                                                    </tr>
                                                    <tr>
                                                        <td scope="row">Anna Campbell</td>
                                                    </tr>
                                                    <tr>
                                                        <td scope="row">Marek Meyer</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="delete-cause">
                                            <button type="button" class="close float-right" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading-two">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <h5 class="mb-0">
                                            Rescue the animals!
                                        </h5>
                                    </div>
                                    <div class="col-sm">
                                        <h5 class="mb-0">
                                            <a class="" data-toggle="collapse" data-target="#collapse-two" aria-expanded="false" aria-controls="collapse-two">
                                                More information
                                            </a>
                                        </h5>
                                    </div>
                                    <div class="col-sm">
                                        <h5 class="mb-0">
                                            Number of supporters: 25
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="collapse-two" class="collapse" aria-labelledby="heading-two" data-parent="#accordion">
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                        <div class="col-sm-4">
                                            <table class="table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Recent supporters</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td scope="row">Sam Dixon</td>
                                                    </tr>
                                                    <tr>
                                                        <td scope="row">Anna Campbell</td>
                                                    </tr>
                                                    <tr>
                                                        <td scope="row">Marek Meyer</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading-three">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <h5 class="mb-0">
                                            Rescue the animals!
                                        </h5>
                                    </div>
                                    <div class="col-sm">
                                        <h5 class="mb-0">
                                            <a class="" data-toggle="collapse" data-target="#collapse-three" aria-expanded="true" aria-controls="collapse-three">
                                                More information
                                            </a>
                                        </h5>
                                    </div>
                                    <div class="col-sm">
                                        <h5 class="mb-0">
                                            Number of supporters: 25
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="collapse-three" class="collapse" aria-labelledby="heading-three" data-parent="#accordion">
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                        <div class="col-sm-4">
                                            <table class="table table-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Recent supporters</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td scope="row">Sam Dixon</td>
                                                    </tr>
                                                    <tr>
                                                        <td scope="row">Anna Campbell</td>
                                                    </tr>
                                                    <tr>
                                                        <td scope="row">Marek Meyer</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

