
@{
    ViewBag.Title = "Contact";
}

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">About us</h2>
                <hr class="my-4">
                <p class="mb-5">This is the coursework for Programming for the Web.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-lg-4 mr-auto text-center">
                <p>
                    <a href="mailto:40329541@live.napier.ac.uk">40329541@live.napier.ac.uk</a>
                </p>
            </div>
        </div>
    </div>
</section>