@{
    ViewBag.Title = "Header";
}

<header class="masthead text-center text-white d-flex bg-dark">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    Vote with your wallet
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">
                    Publicly express their objection to creative tax avoidance,
                    unfair employment practices, racism, disregard of environmental impact and
                    other unethical business and political practices
                </p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#information">Learn more</a>

            </div>
        </div>
    </div>
</header>