
@{
    ViewBag.Title = "Information";
}


<section id="information">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">Some nice desctiption header</h2>
                <hr class="my-4">
                <p class="mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et nisi at erat viverra sodales. Aenean ac leo porttitor, feugiat felis nec, tincidunt sem. Aliquam auctor tellus dolor, vitae molestie nisl accumsan eu. In sit amet hendrerit velit. Nam eu ultrices sem. Vestibulum non libero a justo eleifend gravida. Integer maximus scelerisque enim eu auctor. Praesent ut varius lacus. Proin ante nulla, fringilla eget aliquet eu, euismod eget risus. Mauris et ipsum scelerisque, vehicula elit ac, egestas quam. Aenean id tortor et est elementum varius. Suspendisse ut urna quam. Praesent aliquam imperdiet nisl non convallis. Sed neque massa, consequat sed.
                </p>
                <a class="btn btn-secondary btn-xl js-scroll-trigger" href="#causes">View active causes</a>
            </div>
        </div>
    </div>
</section>
