
@{
    ViewBag.Title = "SignUpModal";
}

<div class="modal fade" id="sign-up-modal" tabindex="-1" role="dialog" aria-labelledby="sign-up-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign up to vote with your wallet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="sign-up-name">Your name</label>
                        <input type="text" class="form-control" id="sign-up-name" placeholder="John Smith">
                    </div>
                    <div class="form-group">
                        <label for="sign-up-mail">E-mail address</label>
                        <input type="email" class="form-control" id="sign-up-mail" placeholder="example@outlook.com">
                    </div>
                    <div class="form-group">
                        <label for="sign-up-password">Password</label>
                        <input type="password" class="form-control" id="sign-up-password" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="sign-up-password-repeat">Repeat password</label>
                        <input type="password" class="form-control" id="sign-up-password-repeat" placeholder="">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abort</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Sign Up</button>
            </div>
        </div>
    </div>
</div>



